# Volume/log files
./data/hive_data/hive-tmp/
./data/hive_data/hive-tmp1/
./data/minio_data/
./data/postgres_data/
./data/postgres_alt
./data/pg_data
./data/hive_data/hive-tmp/
./data/hive_hs2_data/
./data/minio_data/
./data/sample_data/
./data/hive_data/hive-tmp/
./data/hive_hs2_data/
./data/minio_data/

# env files
.env.evaluated
setup.sh
